doctype html
html(lang='en')
    head
        title Rahul Kashyap
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content='Portfolio')
        meta(name='keywords', content='Rahul Kashyap, Kashyap')
        meta(name='author', content='Rahul Kashyap')

        //- ----- link website ----- //
        link(rel='icon' href='src/img/favicon.png' type='image/x-icon')

        //- ----- CSS Files ----- //
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='css/animate.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

    body
      
      .wrapper
        .avatar
          img(src="img/me.png", alt="Rahul Kashyap",width=200,height=200,class="animated bounceInDown ")
          h1.animated.zoomIn Rahul Kashyap
          p Not a scientis but trying to understand the Universe.
        
        .about
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt sodales tellus a gravida. Nulla at lorem quis augue dictum luctus aliquet non quam. Donec non faucibus justo. 
          
        .scoial-existance
          a(href="http://www.facebook.com/rhul.kashyap31")
            span
              i.fa.fa-facebook.animated.rotateIn
          a(href="https://twitter.com/rhulkashyap")
            span
              i.fa.fa-twitter.animated.rotateIn
          a(href="https://plus.google.com/u/0/116843900371452472582")
            span
              i.fa.fa-google-plus.animated.rotateIn 
          a(href="https://github.com/rhulkashyap/")
            span
              i.fa.fa-github.animated.rotateIn
              
          a(href="mailto:rhul.kashyap@gmail.com",class="mail-me") rhul.kashyap@gmail.com
          
        
